html,
body {
    margin: 0px;
}

.parent {
    background-image: linear-gradient(red,orange);
    height: 969px;
    width: 1903px;
}

.top {
    margin-top: 0px;
    padding: 10px;
    height: 100px;
    width: auto;
    text-align: center;    
    font-size: 90px;
    font-weight: bold;
    color: red;
    background: #00105a;
}

.square {
    width: 450px;
    height: 600px;
    padding: 10px;
    margin-top: 50px;
    margin-left: 122px;
    box-shadow: 30px 30px 5px rgb(41, 39, 39);
    border-radius: 20px;
    display: flex;
    background-image: linear-gradient(#00105a,#728cff);
    color: red;
    display: inline-block;
    transition: width 1s, height 1s;
}

.square:hover {
    width: 500px;
    height: 700px;
    box-shadow: 50px 30px 10px cyan;
}

.name {
    width: 50px;
    font-size: 150px;
    font-weight: bold;
    margin: 0px;
    text-shadow: 50px 30px 10px #989898;
}

.text {
    font-weight: bold;
    font-size: 30px;
    margin-top: 50px;
    margin-left: 10px;
}

.resume {
    border-radius: 30px;
    padding: 10px;
    text-decoration: none;
    background-image: linear-gradient(#00105a,black);
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
    position: absolute;
    margin-top: 80px;
    width: 300px;
    margin-left: 67px;
}

.resume:hover {
    width: 350px;
    font-size: 60px;
    color: red;
}

.tribute {
    border-radius: 30px;
    padding: 10px;
    text-decoration: none;
    background-image: linear-gradient(#00105a,black);
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
    position: absolute;
    margin-top: 180px;
    width: 300px;
    margin-left: 67px;
}

.tribute:hover {
    width: 350px;
    font-size: 50px;
    color: red;
}