body{
    background-image: url("../pictures/lebronback.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.top {
    margin-top: 20px;
    text-align: center;
}

.back {
    border-radius: 20px;
    background-image: linear-gradient(black, red);
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    border: solid black;
    text-align: center;
    margin-bottom: 50px;
}

.back:hover {
    font-size: 60px;
    background: #ff4900;
}

.data {
    height: 60px;
    width: 1858px;
    border: 5px solid black;
    border-radius: 15px;
    box-shadow: 20px 20px 20px black;
    margin: 10px;
    padding: 0px;
    color: #ffffff;
    background-color: #ff1f0071;
    font-weight: bold;
    transition: width 1s, height 1s;
}

.data:hover {
    height: 100px;
    font-size: 30px;
    background-color: #ff4900;
}

.text-center {
    text-align: center;
    font-size: 90px;
    font-weight: bold;
    color: rgb(255, 72, 0);
    -webkit-text-stroke: 0.5px white;
}

.text {
    font-size: 50px;
}

.note {
    color: rgb(121, 255, 255);
    font-size: 30px;
    -webkit-text-stroke: cyan;
}

.lebron {
    margin: 0px;
    font-size: 120px;
}

img {
    height: 500px;
    width: 700px;
    border-radius: 30px;
    border: 5px solid black;
    transition: width 1s, height 1s;
    background-image: linear-gradient(orange,black);
}

img:hover {
    height: 700px;
    width: 1000px;
}